extends layout.pug

block title
    title TODO LIST | Main page

block titleHeader
    h1 TODO LIST

block content
    .container-fluid
        form
            .form-row.justify-content-center  
                .form-group.col-sm-6    
                    label Title
                    input.form-control(required)
            .form-row.justify-content-center
                .form-group.col-sm-3
                    label Start date
                    input.form-control(type="date" required)
                .form-group.col-sm-3
                    label End date
                    input.form-control(type="date" required)
            .form-row.justify-content-center
                    label.col-sm-3 Status
                    input.col-sm-3.form-control(type="checkbox")
            .form-row.justify-content-center.mt-5
                    input.btn.btn-secondary.form-control.col-sm-6(type="sumbit", value="Add")

        div
            table.table.table-hover.table-theme-dark.mt-5
                thead
                    tr
                        th #
                        th Title
                        th Start date
                        th End date
                        th Status
                        th Actions
                tbody
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        