tbody {
    counter-reset: myCounter;
}

tbody tr {
    counter-increment: myCounter;
}

tbody tr td:first-child::before {
    content: counter(myCounter);
    font-weight: 900;
}

tbody th {
    font-weight: 900;
}

tbody tr td {
    word-break: break-all;
    vertical-align: middle;
}

body {
    font-family: 'Quantico', sans-serif;
}

.table .name {
    max-width: 30vm;
}

.table .task-success {
    background: #20c997 !important;
}

.table .task-no-success {
    background: #ffc107 !important;
}

body{

}